*{
    margin: 0;
    padding: 0;
}

header{
    background-color: blueviolet;
    padding:10px;
    margin-bottom:10px;
}


.menu, .footer{
    display: flex;
}

.footer{
    background: blueviolet;
    justify-content: space-around;
    margin-top: 10px;
    padding-top : 10px;
    padding-bottom : 10px;
}





img {
    width: 15%;
}


ul{
    list-style-type: none;
}

li{
    margin : 10px;
}


.menu a, .footer a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

a:hover{
    color: grey;
}


.reseaux ul{
    display:flex;
}

.reseaux i{
    font-size:40px;
}

.container {
    margin-bottom: 20px;
}