{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Ajout ou modification de licence
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid1">
        <div class="row1 licence w95">
            <h1>Vous pouvez ajouter ou modifier une licence licence</h1>

            {{ form(licenceForm) }}

        </div>
    </div>
{% endblock main %}