
{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Ajout ou modification d'images
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid1">
        <div class="row1 licence w95">
            <h1>Vous pouvez ajouter ou modifier une image</h1>

            {{ form(mediaForm) }}

        </div>
    </div>
{% endblock main %}