{% extends 'front/base.html.twig' %}

{% block main %}

    <div class="container">
        {% for category in categories %}
            <div class="card br">

                <h1> {{category.name}}</h1>
                <img src="{{ asset('media/' ~ category.media) }}">
                <p>
                    {{ category.description }}
                </p>
            </div>
        {% endfor %}


{% endblock %}