{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="container">
        {% for licence in licences %}
            <div class="card br">

            <h1> <a href="{{ path('show_licence', {'id' : licence.id } ) }}">{{ licence.name }}</a></h1>
                <img src="{{ asset('media/' ~ licence.media) }}">
                <h2>
                    {{ licence.description }}
                </h2>
            </div>
        {% endfor %}

    </div>

{% endblock %}